/* ==========================================================================
	header
   ========================================================================== */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.28s ease, background 0.28s ease;
  will-change: transform;
  background: transparent;
  box-sizing: border-box;
}
.header--hidden {
  transform: translateY(-100%);
}
.header-inner {
  width: 100%;
  position: relative;
  transition: height 0.4s ease, background 0.4s ease;
  box-sizing: border-box;
}
.header.header--hover .header-inner {
  background: #fff;
}
.header h1 .on {
  display: none;
}
.header.header--hover h1 .on {
  display: block;
}
.header.header--hover h1 .off {
  display: none;
}
.header-inner::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 100px;
}
.header-inner > h1 {
  position: absolute;
  top: 33px;
  left: 5%;
}
.nav {
  display: flex;
  justify-content: center;
  width: 52%;
  margin: 0 auto;
}
.menu-list {
  display: flex;
  width: 100%;
}
.menu-item {
  width: 25%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.header.header--hover .menu-item {
  color: #242526;
}
.menu-item > a {
  display: block;
  padding: 36px 0 37px 0;
  width: 100%;
  position: relative;
}
.menu-item > a::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #bc2c2d;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.4s;
}
.menu-item:hover > a::after {
  transform: scaleX(1);
}
.submenu-list {
  display: none;
  height: 100%;
  padding: 37px 0 0 0;
  box-sizing: border-box;
}
.header.header--hover .submenu-list {
  display: block;
}
.menu-item:hover > a + .submenu-list {
  background: #f8f8f8;
  color: #242526;
}
.submenu-item {
  position: relative;
  font-size: 18px;
  font-weight: 600;
}
.submenu-item + .submenu-item {
  margin-top: 8px;
}
.header.active {
  transition: all 0.4s ease;
}
.header.active .menu-item > a::after {
  background: #d81408;
}
.depth3-list {
  color: #888;
  font-size: 16px;
  font-weight: 600;
}
.depth3-list li {
  margin-top: 10px;
}
.util {
  position: absolute;
  top: 33px;
  right: 5%;
  display: flex;
  gap: 14px;
}
.util button {
  display: block;
  width: 35px;
  height: 35px;
  transition: all 0.4s;
}
.util .lang {
  background: url("../assets/images/icon/ico_lang.svg") no-repeat center / 100%;
}
.header.header--hover .util .lang {
  background: url("../assets/images/icon/ico_lang_on.svg") no-repeat center /
    100%;
}
.util .menu {
  background: url("../assets/images/icon/ico_menu.svg") no-repeat center / 100%;
}
.header.header--hover .util .menu {
  background: url("../assets/images/icon/ico_menu_on.svg") no-repeat center /
    100%;
}
.lang-list {
  position: absolute;
  top: 45px;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 10;
}
.lang-list li {
  width: 70px;
  height: 30px;
  border-radius: 17.5px;
  background: #fff;
  color: #242526;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.lang-list li.active {
  background: #bc2c2d;
  color: #fff;
}
.lang-list li:hover {
  background: #bc2c2d;
  color: #fff;
}
.util .lang-list.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.all-menu {
  width: 100%;
}
.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.98);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  z-index: 9;
}
.menu-popup.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.menu-popup-inner {
  display: flex;
  width: 100%;
  height: 100vh;
}
.menu-left {
  width: 33.33%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 100px;
  background-image: url("../assets/images/commom/menu_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-left img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.menu-info {
  position: relative;
  z-index: 1;
  line-height: 1.6;
}
.menu-info .company {
  font-size: 20px;
}
.menu-info .address {
  font-size: 16px;
  line-height: 1.5;
}
.menu-info .address span {
  line-height: 3;
}
.menu-info .address::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 24px 0;
}
.menu-info .contact span {
  font-weight: 700;
}
.menu-right {
  flex: 1;
  background: #fff;
  padding: 100px 40px 0 58px;
  overflow-y: auto;
  color: #242526;
}
.menu-right .gnb > li {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 56px;
  padding-bottom: 56px;
}
.menu-right .gnb > li:last-child {
  border-bottom: none;
}
.menu-right .gnb p {
  font-size: 46px;
  font-weight: 700;
}
.menu-right .gnb > li {
  display: flex;
  gap: 70px;
  align-items: center;
}
.menu-right .gnb ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 600;
}
.menu-right .gnb ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.menu-right .gnb ul li a {
  font-size: 19px;
  position: relative;
}
.menu-right .gnb ul li a::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  top: 6px;
  right: -12px;
  background: #242526;
}
.menu-right .gnb ul li:last-child a::after {
  display: none;
}
.util.active .lang {
  background: url("../assets/images/icon/ico_lang_on.svg") no-repeat center /
    100%;
}
.util.active .menu,
.header:hover .header-inner.no-hover .util.active .menu {
  background: url("../assets/images/icon/ico_menu_close.svg") no-repeat center /
    100%;
}
/* 961~1400 */
@media all and (max-width: 1400px) {
  .nav {
    display: none;
  }
  .header-inner {
    height: 100px;
  }
}

/* 769~960 */
@media all and (max-width: 960px) {
}

/* 641~768 */
@media all and (max-width: 768px) {
  .header-inner {
    padding: 0;
  }
  .header-inner > h1 {
    width: 101px;
    left: 25px;
  }
  .util {
    right: 0;
    transform: translateX(-50%);
  }
  .util button {
    width: 21px;
    height: 21px;
  }
  .lang-list {
    top: 30px;
    right: 10px;
  }
  .all-menu {
    width: 60%;
  }
  .menu-popup {
    background: transparent;
    justify-content: unset;
    left: unset;
    width: 60%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: right 0.6s ease, opacity 0.4s ease;
  }
  .menu-popup.active {
    opacity: 1;
    visibility: visible;
  }
  .menu-popup-inner {
    display: block;
    width: 100%;
  }
  .menu-left {
    display: none;
  }
  .menu-right {
    height: 100vh;
    padding: 92px 0 50px 0;
  }
  .menu-right .gnb li p {
    color: #888;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    padding: 0 50px 30px;
  }
  .menu-right .gnb li p::after {
    position: absolute;
    top: 13px;
    right: 50px;
    display: block;
    content: "";
    width: 36px;
    height: 20px;
    background-image: url("../assets/images/icon/ico_menu_arrow.svg");
    background-repeat: no-repeat;
    transition: transform 0.35s ease;
  }
  .menu-right .gnb li.active p::after {
    transform: rotate(-180deg);
    background-image: url("../assets/images/icon/ico_menu_arrow_active.svg");
  }
  .menu-right .gnb li.active p {
    color: #bc2c2d;
  }
  .menu-right .gnb ul {
    display: none;
    padding: 30px 50px;
  }
  .menu-right .gnb li.active ul {
    display: block;
  }
  .menu-right .gnb li.active ul {
    background: #f8f8f8;
    color: #888;
    font-size: 26px;
    font-weight: 500;
  }
  .menu-right .gnb > li {
    border-bottom: none;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .menu-right .gnb > li + li {
    margin-top: 50px;
  }
  .lang-list li {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .menu-right .gnb ul li a::after {
    display: none;
  }
  .menu-right .gnb li.active li:hover a {
    color: #bc2c2d;
  }
}

/* 320~640 */
@media all and (max-width: 640px) {
  .menu-right .gnb li p {
    font-size: 20px;
    padding: 0 20px 15px;
  }
  .menu-right .gnb li p::after {
    top: 10px;
    right: 20px;
    width: 24px;
    height: 15px;
    background-size: 100%;
  }
}
/* ==========================================================================
	btn
   ========================================================================== */

.main-more-btn {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 65px;
  width: 235px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 35px;
  border: 1px solid #242526;
  background: #fff;
  transition: color 0.4s ease, border-color 0.4s ease;
}
.main-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #d81408;
  z-index: 0;
  transition: width 0.4s ease;
}
.main-more-btn:hover::before {
  width: 100%;
}
.main-more-btn span {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0 5px;
  width: 100%;
  height: 100%;
  padding: 0 14px 0 22px;
  line-height: 150%;
  color: #242526;
  transition: color 0.3s ease;
}
.main-more-btn:hover span {
  color: #fff;
}
.main-more-btn span::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 9px;
  width: 35px;
  height: 35px;
  background-image: url("../assets/images/icon/btn_plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.3s ease;
}
.main-more-btn:hover {
  border-color: #d81408 !important;
}
.main-more-btn:hover span::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 9px;
  width: 35px;
  height: 35px;
  background-image: url("../assets/images/icon/btn_plus_on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.3s ease;
}
@media all and (max-width: 960px) {
  .main-more-btn {
    margin-top: 4%;
  }
}
@media all and (max-width: 640px) {
  .main-more-btn {
    font-size: 14px;
    width: 190px;
  }
}
/* ==========================================================================
	footer
   ========================================================================== */
.footer {
  background: #fff;
  border-top: 1px solid #d9d9d9;
  padding: 50px 0 30px;
  color: #242526;
}
.footer-inner {
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo {
  width: 200px;
  height: auto;
}
.footer-info p {
  text-align: left;
  font-size: 16px;
}
.footer-info strong {
  font-weight: 700;
}
.footer-info span {
  margin: 0 8px;
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-bottom .copyright {
  margin-top: 40px;
  text-align: right;
  font-size: 12px;
}
@media all and (max-width: 1400px) {
  .footer-inner {
    padding: 0 6%;
  }
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 640px) {
  .footer-top {
    display: block;
  }
  .footer-right {
    display: block;
    margin-top: 30px;
  }
}

/* ==========================================================================
	btn_area
   ========================================================================== */
.btn_area {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.btn-top {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 0;
}
.btn-top i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icon/ico_top.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-chat {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 0;
}
.btn-chat i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icon/ico_chat.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 1400px) {
  .btn_area button {
    width: 70px;
    height: 70px;
  }
}
@media all and (max-width: 960px) {
  .btn_area button {
    width: 65px;
    height: 65px;
  }
}
@media all and (max-width: 768px) {
  .btn_area button {
    width: 60px;
    height: 60px;
  }
}
@media all and (max-width: 640px) {
  .btn_area button {
    width: 50px;
    height: 50px;
    right: 5%;
    bottom: 2%;
  }
}
/* ==========================================================================
	공통
   ========================================================================== */
.mt-0 {
  margin-top: 0 !important;
}
.w100p {
  width: 100% !important;
}
