.container {
  padding: 0 0 121px 0;
  background: #fff;
}
@media all and (max-width: 960px) {
  .container {
    padding: 0 0 10% 0;
  }
}
/* ==========================================================================
	visual
   ========================================================================== */
.video-swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.video-swiper .swiper-slide {
  position: relative;
}
.video-swiper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.video-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 80px;
}
.video-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.video-swiper .swiper-pagination-bullet-active {
  width: 100px;
  background: #fff;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}
.overlay p {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #fff 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  text-align: center;
}
.overlay .main-tit {
  font-weight: 800;
  font-size: 80px;
  line-height: 103px;
  letter-spacing: 0.8px;
}
.overlay .main-txt {
  font-weight: 600;
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  background-image: none;
  -webkit-background-clip: unset;
  background-clip: unset;
}
.visual .scroll {
  position: absolute;
  left: 154px;
  bottom: 82px;
  z-index: 10;
  transform: rotate(90deg);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 14px;
}
.visual .scroll .scroll-line {
  display: block;
  width: 113px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}
.visual .scroll .scroll-line:after {
  display: block;
  content: "";
  width: 41px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0%;
  top: -1px;
  transform: scaleX(0);
  animation: scrollAni 1.4s infinite;
}
@keyframes scrollAni {
  0% {
    transform: scaleX(0);
    left: 0%;
  }
  100% {
    transform: scaleX(1);
    left: 100%;
  }
}

.main-cont {
  position: relative;
}
.main-cont h2 {
  font-size: 64px;
  font-weight: 800;
}
.main-cont .main-desc {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.main-cont .imgbox {
  overflow: hidden;
  position: relative;
}
.main-cont .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.3s ease;
}
.main-cont .imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}
.main-cont a:hover .imgbox img {
  transform: scale(1.1);
}
.main-cont a:hover .imgbox::after {
  background: rgba(0, 0, 0, 0.4);
}
@media all and (max-width: 1400px) {
  .overlay .main-tit {
    font-size: 58px;
  }
}
@media all and (max-width: 960px) {
  .overlay .main-tit {
    line-height: 1.3;
  }
  .video-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 5%;
  }
  .video-swiper .swiper-pagination-bullet-active {
    width: 80px;
  }
  .main-cont h2 {
    font-size: 56px;
  }
  .main-cont .main-desc {
    margin-top: 2%;
    font-size: 20px;
  }
  .visual .scroll {
    left: 2%;
  }
}
@media all and (max-width: 768px) {
  .overlay .main-tit {
    font-size: 50px;
  }
  .overlay .main-txt {
    font-size: 16px;
  }
}
@media all and (max-width: 640px) {
  .main-cont h2 {
    font-size: 48px;
  }
  .visual .overlay {
    padding: 0 6%;
  }
  .visual .overlay .main-tit {
    font-size: 36px;
  }
  .visual .overlay .main-txt {
    margin-top: 3%;
  }
  .visual .scroll {
    left: -16%;
  }
  .video-swiper .swiper-pagination-bullet-active {
    width: 60px;
  }
}
/* ==========================================================================
	business
   ========================================================================== */
.main-business {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main-business .left {
  position: absolute;
  left: 0;
  top: 150px;
  width: 45%;
  height: 100vh;
  padding: 0 8.7% 0 10%;
}
.main-business .right {
  width: 55%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 150px;
}
.main-business .business-list {
  will-change: transform;
}
.main-business .business-list .list {
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  max-width: 340px;
  margin-top: 121px;
  vertical-align: top;
  position: relative;
}
.main-business .business-list .list:nth-child(2n) {
  margin-left: 7.5%;
}
.main-business .business-list .list:nth-child(2n-1) {
  margin-top: -156px;
}
.main-business .business-list .list:first-child {
  margin-top: 0;
}
.main-business .business-list .list:nth-child(2) {
  margin-top: 266px;
}
.main-business .business-list .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-business .txt-box {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  color: #fff;
  position: absolute;
  left: 7.5%;
  bottom: 34px;
  width: 85%;
}
.main-business .txt-box .tit {
  font-size: 26px;
  font-weight: 700;
}
.main-business .txt-box .tit::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 22px 0;
}
.main-business .txt-box .btn-txt {
  font-size: 18px;
  font-weight: 600;
}
.main-business .txt-box .btn-txt::after {
  display: block;
  content: "";
  width: 31px;
  height: 31px;
  background-image: url("../assets/images/icon/btn_plus_on.svg");
  background-size: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-business .business-list a:hover .txt-box {
  opacity: 1;
  visibility: visible;
}
@media all and (max-width: 1400px) {
  .main-business .right {
    height: 96vh;
  }
  .main-business .business-list .list {
    width: 34%;
    margin-top: 3.8%;
  }
  .main-business .business-list .list:nth-child(2n-1) {
    margin-top: -9.8%;
  }
  .main-business .business-list .list:nth-child(2) {
    margin-top: 14%;
  }
  .main-business .business-list .list:first-child {
    margin-top: 0;
  }
}
@media all and (max-width: 960px) {
  .main-business {
    display: block;
    height: auto;
  }
  .main-business .left,
  .main-business .right {
    width: 100%;
    position: static;
    height: auto;
    padding: 6% 6% 0 6%;
  }
  .main-business .business-list .list {
    width: 47%;
  }
  .main-business .business-list .list:nth-child(2n) {
    margin-left: 4%;
  }
}
@media all and (max-width: 768px) {
  .main-business .txt-box .tit {
    font-size: 24px;
  }
}
@media all and (max-width: 640px) {
  .main-business .txt-box .tit {
    font-size: 18px;
  }
  .main-business .txt-box .btn-txt {
    font-size: 14px;
  }
  .main-business .txt-box .btn-txt::after {
    width: 25px;
    height: 25px;
  }
}
/* ==========================================================================
	main-intro
   ========================================================================== */
.main-intro {
  min-height: 100vh;
}
.main-intro .overlay {
  position: static;
  transform: none;
}
.main-intro .overlay {
  text-align-last: left;
  padding-left: 192px;
}
.main-intro .overlay .main-tit {
  color: #c7c7c7;
  background-image: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  font-size: 64px;
  line-height: 1.4;
}
.main-intro .btn-area {
  padding: 165px 10% 0;
  max-width: 1530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.main-intro .btn-box {
  position: relative;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  padding: 77px 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-intro .btn-box:first-child {
  background-image: url("../assets/images/main/btn_bg01.png");
}
.main-intro .btn-box.second {
  background-image: url("../assets/images/main/btn_bg02.png");
}
.main-intro .txt-box {
  position: absolute;
  top: 77px;
  left: 155px;
  z-index: 1;
  text-align: left;
}
.main-intro .txt-box .desc {
  font-size: 16px;
  font-weight: 700;
}
.main-intro .txt-box .txt {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
}
.main-intro .btn-box a {
  position: absolute;
  bottom: 77px;
  right: 155px;
  z-index: 1;
  background: #fff;
  color: #000;
  border-radius: 50px;
  padding: 14px 60px;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}
.main-intro .btn-box a:hover {
  background: #000;
  color: #fff;
}
.main-intro .btn-box.second .txt-box {
  top: 77px;
  left: unset;
  right: 155px;
  text-align: right;
}
.main-intro .btn-box.second a {
  left: 155px;
  right: unset;
}
@media all and (max-width: 1400px) {
  .main-intro .overlay {
    padding-left: 10%;
  }
  .main-intro .overlay .main-tit {
    font-size: 52px;
  }
  .main-intro .btn-area {
    padding: 90px 10% 0;
  }
  .main-intro .btn-box {
    height: 310px;
  }
  .main-intro .txt-box {
    left: 77px;
  }
  .main-intro .btn-box a {
    right: 77px;
  }
  .main-intro .btn-box.second .txt-box {
    left: unset;
    right: 77px;
  }
  .main-intro .btn-box.second a {
    left: 77px;
  }
}
@media all and (max-width: 960px) {
  .main-intro .overlay {
    padding: 6% 6% 0;
  }
  .main-intro .overlay .main-tit {
    font-size: 46px;
    text-align: left;
  }
  .main-intro .btn-area {
    padding: 6% 6% 0;
  }
  .main-intro .btn-box {
    height: 250px;
    padding: 6%;
  }
  .main-intro .txt-box {
    top: 12%;
    left: 6%;
  }
  .main-intro .btn-box a {
    right: 6%;
    bottom: 12%;
  }
  .main-intro .btn-box.second .txt-box {
    left: unset;
    right: 6%;
  }
  .main-intro .btn-box.second .txt-box {
    top: 12%;
  }
  .main-intro .btn-box.second a {
    left: 6%;
  }
  .main-intro .txt-box .desc {
    font-size: 14px;
  }
  .main-intro .txt-box .txt {
    font-size: 30px;
  }
}
@media all and (max-width: 768px) {
  .main-intro .overlay .main-tit {
    font-size: 38px;
  }
}
@media all and (max-width: 640px) {
  .main-intro .btn-box {
    height: 210px;
  }
  .main-intro .txt-box .txt {
    font-size: 24px;
  }
  .main-intro .btn-box a {
    padding: 10px 20px;
    font-size: 14px;
  }
}
/* ==========================================================================
	contact
   ========================================================================== */
.main-contact {
  padding: 0 10% 120px;
  margin-top: 173px;
}
.main-contact .txt-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  width: calc((100% - 20px) / 2);
}
.main-contact .main-more-btn {
  width: 200px;
}
.main-contact .contact-box {
  display: flex;
  gap: 20px;
  align-items: baseline;
  margin-top: -77px;
}
.main-contact .catalog {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.main-contact .catalog .catalog-txt {
  position: absolute;
  bottom: 34px;
  right: 40px;
  color: #fff;
  text-align: right;
}
.main-contact .catalog .catalog-txt .date {
  font-size: 14px;
  font-weight: 600;
}
.main-contact .catalog .catalog-txt .txt {
  font-size: 40px;
  font-weight: 600;
}
@media all and (max-width: 1400px) {
  .main-contact {
    padding: 0 6% 120px;
  }
  .main-contact .contact-box .location img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .main-contact .txt-box {
    width: 100%;
  }
  .main-contact .contact-box {
    margin-top: 0;
    align-items: stretch;
  }
}
@media all and (max-width: 960px) {
  .main-contact {
    margin-top: 0;
    padding: 6% 6% 10%;
  }
  .main-contact .catalog .catalog-txt {
    right: 36px;
  }
  .main-contact .catalog .catalog-txt .txt {
    font-size: 36px;
  }
}
@media all and (max-width: 768px) {
  .main-contact .catalog .catalog-txt {
    right: 5%;
  }
  .main-contact .catalog .catalog-txt .txt {
    font-size: 30px;
  }
}
@media all and (max-width: 640px) {
  .main-contact .txt-box {
    display: block;
  }
  .main-contact .contact-box {
    display: block;
  }
  .main-contact .catalog .catalog-txt {
    right: 5%;
  }
  .main-contact .catalog .catalog-txt .txt {
    font-size: 30px;
  }
  .main-contact .contact-box .location {
    margin-top: 20px;
  }
  .main-contact .contact-box .catalog {
    margin-top: 10px;
  }
  .main-cont .imgbox img {
    display: block;
    height: auto;
  }
}
/* ==========================================================================
	logos
   ========================================================================== */
.main-logos {
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}
.logo-swiper {
  width: 100%;
  overflow: hidden;
}
.logo-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.logo-slider .swiper-slide {
  width: auto !important;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
}
.logo-slider .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@media all and (max-width: 1400px) {
  .main-logos {
    padding: 0 6%;
  }
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 640px) {
}
